{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="row">
        <div class="col s6 offset-s3 z-depth-3 connexionFormContainer">
            <form id="connexionForm" class="col s12" action="{{ path("fos_user_security_check") }}" method="post">
                <div class="row">
                    <div class="col s6 offset-s3" style="text-align: center;">
                        <h4>INSTALOL</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" id="password" name="_password" required="required" />
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </p>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Connexion
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock%}
